# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
dist/
build/
out/
next-env.d.ts
*.tsbuildinfo

# Turbo
.turbo/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
*.pem

# Testing
coverage/
eval-results/

# Infra
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl

# Netlify
.netlify/

# Vercel
.vercel

# Supabase
supabase/.branches
supabase/.temp
