# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
dist/
build/
out/

# Turbo
.turbo/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
*.pem

# Testing
coverage/

# Vercel
.vercel

# Supabase
supabase/.branches
supabase/.temp
